body{
    background-color: #EAF6F6;
}

hr{
    height: 2px;
    border-style: dotted none none;
    border-width: 4px;
    border-color: gray;
    width: 5%;
}

h1,h2,h3{
    color:#66bfbf;
}